*{
    margin: 0;
    border: 0;
}

@font-face{
    font-family: "walt";
    src: url(walt.ttf);
}

html { 
  height: 100%;
  background: url(disney.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
    font-family: "walt";
    font-size: 46px;
    text-align: center;
}

#viz{
    width: 870px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

svg{
    padding: 2em 0 0 0;
}

.image{
    border-radius: 10px;
}